extends _layout

block variables
  - var title = "Express Starter Template"

block content
    section(class='content-container')
        h1(class='content-title') Express Stater Template
        p(class='content-body')
            | This template provides a foundational structure for building a robust RESTful API
            | using express.js. It's designed to help you quickly set up a scalable and maintainable
            | backend for your web applications or services.